*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.login-painel{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
}
.login-form{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.resumo{
    width: 50%;
    height: 100%;    
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.form-wrapper{
    width: 50%;
    height: 100%;  
    border:4px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}