<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cadastro</title>
</head>
<body>
	<div>
		<form>
			<fieldset>
				<legend><b>Cadastro</b></legend>
				<br>
				<div>
					<input type="text" name="nome" id="nome" required>
					<label>Nome completo</label>

				</div>

					<div>
					<input type="email" name="email" id="email" required>
					<label>E-mail</label>

				</div>

					<div>
					<input type="tel" name="telefone" id="telefone" required>
					<label>Telefone</label>

				</div>
				<p>Sexo:</p>
				<input type="radio" id="feminino" name="genero" value="feminino" required>
				<label for="feminino">Feminino</label>
				<br>
				<input type="radio" id="masculino" name="genero" value="masculino" required>
				<label for="masculino">Masculino</label>
				<br>
				<input type="radio" id="outros" name="genero" value="outros" required>
				<label for="outros">Outros</label>
				<br>

					<div>
					<label for="data_nasc"><b>Data de Nascimento:</b></label><input type="date" name="data_nasc" id="data_nasc" required>
					
				</div>
				<br>
				

					<div>
					
					<label>Estado</label>
					<select id="estado">
        					<option value="AC">Acre</option>
					        <option value="AL">Alagoas</option>
					        <option value="AP">Amapá</option>
					        <option value="AM">Amazonas</option>
					        <option value="BA">Bahia</option>
					        <option value="CE">Ceará</option>
					        <option value="DF">Distrito Federal</option>
					        <option value="ES">Espírito Santo</option>
					        <option value="GO">Goiás</option>
					        <option value="MA">Maranhão</option>
					        <option value="MT">Mato Grosso</option>
					        <option value="MS">Mato Grosso do Sul</option>
					        <option value="MG">Minas Gerais</option>
					        <option value="PA">Pará</option>
					        <option value="PB">Paraíba</option>
					        <option value="PR">Paraná</option>
					        <option value="PE">Pernambuco</option>
					        <option value="PI">Piauí</option>
					        <option value="RJ">Rio de Janeiro</option>
					        <option value="RN">Rio Grande do Norte</option>
					        <option value="RS">Rio Grande do Sul</option>
					        <option value="RO">Rondônia</option>
					        <option value="RR">Roraima</option>
					        <option value="SC">Santa Catarina</option>
					        <option value="SP">São Paulo</option>
					        <option value="SE">Sergipe</option>
					        <option value="TO">Tocantins</option>
					    </select>
					    <script>
					        $(document).ready(function() {
					            $('#estado').select2();
					        });
					    </script>

				</div>

				<br>
					<div>
						<label>Cidade</label>
						<input type="text" name="cidade" id="cidade" required>
						
				</div>

					<div>
						<label>Endereço</label>
						<input type="text" name="endereco" id="endereco" required>
					

				</div>
				<br>
				<input type="submit" name="submit" id="submit">



			</fieldset>
		</form>
	</div>

</body>
</html>